/* body {
  background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */

@media (min-width: 576px) {
  .modal-sm {
    max-width: 500px !important;
  }
}


/* The container1st */
.container1st {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1st input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1st {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1st:hover input ~ .checkmark1st {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1st input:checked ~ .checkmark1st {
  background-color: #2196F3;
}

/* Create the checkmark1st/indicator (hidden when not checked) */
.checkmark1st:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark1st when checked */
.container1st input:checked ~ .checkmark1st:after {
  display: block;
}

/* Style the checkmark1st/indicator */
.container1st .checkmark1st:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* The Modal (background) */
.modal1st {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content1st {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 45%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close1st {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close1st:hover,
.close1st:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header1st {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body1st {padding: 10px 16px;}

.modal-footer1st {
  padding: 10px 16px;
  background-color: #EFEFEF !important;
  color: white;
}